<div id="sidebar">
  <div id="logo">
    {{#link-to "lobby"}}<img {{bind-attr src="logo"}}>{{/link-to}}
  </div>

  {{render rooms}}
</div>

{{render userbar}}

<div id="main">
  {{outlet}}
</div>

<div id="users">
  Users and data
</div>