<div class="channels">
  <div class="header">{{i18n rooms.open}}</div>
  <ul>
    {{#each}}
      {{#if open}}
        <li>
          <a {{action "leaveRoom" this}} class="leave"><i class="fa fa-times-circle"></i></a>
          {{#link-to "room" this class="room"}}<span class="dull">#</span> {{name}}{{/link-to}}
        </li> 
      {{/if}}
    {{/each}}
  </ul>
</div>