<div class="channels">
  <div class="header">{{i18n rooms.open}}</div>
  <ul>
    {{#each}}
      {{#if open}}
        {{#link-to "room" this tagName="li" href=false}}
          <a {{action "leaveRoom" this}} class="leave"><i class="fa fa-times-circle"></i></a>
          <a {{bind-attr href="view.href"}}><span class="dull">#</span> {{name}}</a>
        {{/link-to}}
      {{/if}}
    {{/each}}
  </ul>
</div>