<div class="roomlist">
  {{#link-to "lobby" class="lobby-link"}}<i class="fa fa-list"></i> {{i18n rooms.lobby}}{{/link-to}}

  <div class="header">{{i18n rooms.open}}</div>
  <ul>
    {{#each}}
      {{#if open}}
        <li>
          <a {{action "leaveRoom" this}} class="leave"><i class="fa fa-times-circle"></i></a>
          {{#link-to "room" this class="room"}}<i class="fa fa-comment"></i> {{name}}{{/link-to}}
        </li> 
      {{/if}}
    {{/each}}
  </ul>
</div>