<div class="room-header">
  <a {{action "roomSettings"}} class="cog"><i class="fa fa-cog"></i></a>
  <h2>{{name}}</h2>
  <span>topiccc of some randomness and maybe so length too, who knows</span>
</div>

<div class="room-messages">
  <ul class="messagelist scroller">
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
    <li class="message">
      <img width="32" height="32" src="//www.gravatar.com/avatar/72555f0f9d510bcd6eb2030507402655.png?s=32&amp;r=pg&amp;d=identicon" class="avatar">
      <div class="details">krisrang   •  <time>1 minute ago</time></div>
      <div class="body">THIS IS EPIC MESSGAGAG</div>
    </li>
  </ul>
</div>

<div class="room-composer">
  {{boundAvatar currentUser imageSize="medium"}}
</div>

<div id="users">
  <div class="header">People</div>

  PPllll
</div>