<div id="rooms">
  <ul>
    {{#link-to "lobby" tagName="li" href=false}}
      <a {{bind-attr href="view.href"}}><i class="fa fa-list"></i> Lobby</a>
    {{/link-to}}
    {{#link-to "rooms/1" tagName="li" href=false}}
      <a {{bind-attr href="view.href"}}><i class="fa fa-users"></i> Room!</a>
    {{/link-to}}
  </ul>
</div>