<div id="rooms">
  {{#link-to "lobby" class="lobby-link"}}<i class="fa fa-list"></i> Lobby{{/link-to}}

  <div class="header">Open Rooms</div>
  <ul>
    {{#link-to "room1" tagName="li" href=false}}
      <a {{bind-attr href="view.href"}}><i class="fa fa-users"></i> Room!</a>
    {{/link-to}}
    {{#link-to "room2" tagName="li" href=false}}
      <a {{bind-attr href="view.href"}}><i class="fa fa-users"></i> Room2!</a>
    {{/link-to}}
  </ul>
</div>