<div id="userbar" {{bind-attr class="userbarClass"}}>
  <div id="userbar-details">
    {{boundAvatar model imageSize="medium"}}
    <span>{{model.username}}</span>
  </div>

  <div id="userbar-select">
    <ul>
      <li>{{#link-to "preferences"}}<i class="fa fa-cog"></i> Preferences{{/link-to}}</li>
      <li><a {{action logout}}><i class="fa fa-sign-out"></i> Log out</a></li>
    </ul>
  </div>
</div>