@import 'variables';
@import 'bourbon';

.channel {
  .channel-header {
    position: absolute;
    height: 45px;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 500;
    
    .channel-name {
      display: inline-block;
      
      &:hover { cursor: pointer; }
      
      h2 {
        display: inline;
        color: $title;
        font-weight: 700;
      }
      
      .prefix {
        font-size: 20px;
        font-weight: 500;
      }
      
      .channelmenu {
        font-size: 14px;
        vertical-align: top;
        margin: 8px 0 0 5px;
      }
      
      .prefix, .channelmenu { color: $dulldark; }
      
      &:hover {
        .prefix, .channelmenu { color: $title; }
      }
    }
    
    .channel-topic {
      color: $dulldark;
      margin: 0 10px;
    }
  }

  .channel-messages {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 0;
    right: 220px;
    z-index: 200;
    margin-bottom: 10px;

    .messagelist {
      list-style: none;
      margin: 0;
      padding: 10px;
      overflow: auto;
      height: 100%;

      .message {
        margin-bottom: 10px;
        
        &:last-child {
          margin-bottom: 0;
        }

        .avatar {
          padding: 1px;
          width: 34px;
          height: 34px;
          float: left;
          border-radius: $radius;
          margin-top: 2px;
        }

        .details {
          color: #999;
          font-size: 12px;
          padding: 0 0 0 45px;
        }

        .body {
          padding: 0 5px 5px 45px;
        }
      }
    }
  }

  .channel-composer {
    bottom: 10px;
    height: 100px;
    left: 0;
    position: absolute;
    right: 220px;
    z-index: 500;

    .messagebox {
      margin: 0 20px;

      textarea {
        padding: 10px;
        height: 45px;
        resize: none;
      }
    }
  }

  .channel-users {
    bottom: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 45px;
    width: 220px;
    
    .header {
      background-color: #f4f5f6;
    }
  }
}