@import 'variables';
@import 'bourbon';

.channel {  
  .channel-header {
    position: relative;
    height: 45px;
    background: #fff;
    padding: 10px 15px;
    z-index: 500;
    
    .channel-name {
      display: inline-block;
      
      &:hover { cursor: pointer; }
      
      h2 {
        display: inline;
        color: $title;
        font-weight: 700;
      }
      
      .prefix {
        font-size: 20px;
        font-weight: 500;
      }
      
      .channelmenu {
        font-size: 14px;
        vertical-align: top;
        margin: 8px 0 0 5px;
      }
      
      .prefix, .channelmenu { color: $dulldark; }
      
      &:hover {
        .prefix, .channelmenu { color: $title; }
      }
    }
    
    .channel-topic {
      color: $dulldark;
      margin: 0 10px;
    }
    
    .channel-settings {
      top: 40px;
      left: 15px;
    }
    
    .channel-header-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 355px;
      padding: 10px 15px;
      
      .channel-search {
        width: 250px;
        display: inline-block;
        position: relative;
        
        .search-icon {
          position: absolute;
          top: 8px;
          left: 8px;
        }
        
        .channel-search-input {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
      
      .btn {
        border-color: $header-btn;
        color: $header-btn-text;
        margin-top: -1px;
        padding: 6px 5px;
        line-height: 1;
        font-size: 16px;
        display: inline;
        
        &:hover {
          border-color: $header-btn-hover;
          color: $header-btn-text-hover;
        }
      }
    }
  }

  .channel-messages {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 0;
    right: 350px;
    z-index: 200;
    margin-bottom: 15px;

    .messagelist {
      list-style: none;
      margin: 0;
      padding: 0 20px;
      height: 100%;
      overflow: hidden;
      position: relative;

      .message {
        margin-bottom: 10px;
        
        &:last-child {
          margin-bottom: 0;
        }

        .avatar {
          padding: 1px;
          width: 34px;
          height: 34px;
          float: left;
          border-radius: $radius;
          margin-top: 2px;
        }

        .details {
          color: #999;
          font-size: 12px;
          padding: 0 0 0 45px;
        }

        .body {
          padding: 0 5px 5px 45px;
        }
      }
    }
  }

  .channel-composer {
    bottom: 10px;
    height: 100px;
    left: 0;
    position: absolute;
    right: 350px;
    z-index: 500;

    .messagebox {
      margin: 0 20px;

      textarea {
        padding: 10px;
        height: 45px;
        resize: none;
      }
    }
  }
  
  .channel-sidebar {
    bottom: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 45px;
    width: 350px;
    
    .header {
      background-color: $graybackground;
      font-family: Lato, sans-serif;
      font-size: 19px;
      font-weight: 900;
      text-decoration: none;
      text-rendering: optimizelegibility;
      text-transform: none;
      padding: 10px 15px;
      color: #555459;
      border-bottom: 1px solid #e0e0e0;
    }
  }
  
  &.open .open-sidebar { display: none !important; }
  &.closed .close-sidebar { display: none !important; }
  
  &.closed {
    .channel-sidebar { display: none; }
    .channel-composer { right: 0; }
    .channel-messages { right: 0; }
  }
}

.cssscrollbar .channel .channel-messages .messagelist {
  overflow: auto;
}