@import 'variables';
@import 'bourbon';

.lobby {
 .rooms {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: 10px;

    table {
      margin: 10px 0;

      .name { width: 20%; }
      .topic { width: 50%; }
      .owner { width: 20%; }
      .actions { width: 10%; }

      tbody td {
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }
}