.modal {
  .modal-content {
    border-radius: 0;

    .modal-buttons {
      margin-top: 20px;
      
      & > .btn:first-child {
        margin-left: 5px;
      }

      & > .btn {
        width: 48%;
      }
    }
  }
}