.password_strength_container {
  position: relative;
  width: 100%;
  margin: 2px 0 10px;
  height: 10px;

  .password_strength {
    height: 4px;
    background-color: #c81818;
    width: 0;
    position: absolute;
    left: 0;

    &.score-0 { width: 20%; background-color: #c81818; }
    &.score-1 { width: 40%; background-color: #c81818; }
    &.score-2 { width: 60%; background-color: #e28f00; }
    &.score-3 { width: 80%; background-color: #8aa050; }
    &.score-4 { width: 100%; background-color: #27b30f; }
  }

  .password_strength_bg {
    height: 4px;
    background-color: #dbd7d7;
    width: 100%;
    position: absolute;
    left: 0;
  }

  .password_strength_separator {
    height: 4px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .password_strength_desc {
    float: right;
    margin-top: 6px;
    font-size: 14px;

    &.score-0 { color: #c81818; }
    &.score-1 { color: #c81818; }
    &.score-2 { color: #e28f00; }
    &.score-3 { color: #8aa050; i { display: none; } }
    &.score-4 { color: #27b30f; i { display: none; } }
  }
}