@import 'variables';
@import 'bourbon';

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid #fff;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #d9d9de;
    height: 100px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #d9d9de;
    height: 8px !important;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #fff;
}

.scroller:hover {
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover {
      background-color: #1f282d;
  }
}

.channels {
  &::-webkit-scrollbar, &::-webkit-scrollbar-corner {
    border-radius: 0;
    background-color: $hovertransparent;
  }
  
  &::-webkit-scrollbar-thumb {
    border: 1px solid $sidebaritem;
    background-color: $dulltext;
  }
}
