@import 'variables';
@import 'bourbon';

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  padding: 0;
  color: #fff;
  background-color: $sidebar;
  
  .dropdown-menu a { color: $text; }
  .dropdown-menu a:hover { color: #fff; }
  
  .appbar {
    color: #fff;
    height: 42px;
    cursor: pointer;
    background-color: $sidebaritem;
    border-bottom: 2px solid $sidebarborder;
    @include transition(all 400ms ease-in-out);
    
    h1 {
      font-size: 20px;
      margin: 0;
      padding: 10px 15px;
    }
    
    .down { float: right; margin: 13px; color: $dulltext; }    

    &:hover {
      background: $sidebaritemhover;
      
      .down { color: #fff; }
    }
    
    .appbar-settings {
      top: 35px;
      left: 200px;
    }
  }

  .channels {
    margin: 20px 0 10px;
    overflow-y: scroll;
    
    .header {
      padding: 0 10px;
      color: $dulltext;
      font-size: 14px;
      
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
    
    .new-channel {
      margin: 0 10px;
      font-size: 13px;
      color: $dulltext;
      border-bottom: 1px dotted $dulltext;
      
      &:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
    
    ul {
      list-style: none;
      margin: 5px 5px 0 -15px;
      padding: 0;
      
      li {
        border-radius: $radius;
        
        a {
          display: block;
          color: $dulltext;
          padding: 5px 5px 5px 25px;
          font-size: 15px;
          
          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
      
        &:hover {
          background: $hovertransparent;
        }
        
        &.active, &.active:hover {
          background: $sidebarlinkhover;
          
          a { 
            color: #fff;            
            .prefix { color: $sidebarlinkhoveractive; }
          }
        }
      }
    }
  }

  .userbar {    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    color: #fff;
    height: 50px;
    cursor: pointer;
    background-color: $sidebaritem;
    border-top: 2px solid $sidebarborder;
    @include transition(all 400ms ease-in-out);

    .up { float: right; margin: 13px; color: $dulltext; }

    &:hover {
      background: $sidebaritemhover;
      
      .up { color: #fff; }
    }

    .userbar-details {
      padding: 2px;

      .avatar {
        float: left;
        margin: 5px 10px;
        border-radius: $radius;
      }
    }

    .userbar-settings {      
      top: auto;
      left: 200px;
      bottom: 45px;
    }
  }

  .connectbit {
    .message { 
      font-size: 13px;
      color: #ddd;
    }
  }
  
  .login-required {
    padding: 15px;
    
    h3 { font-size: 16px; }
  }
}