@import 'variables';
@import 'bourbon';

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  padding: 0;
  color: #fff;
  background-color: $sidebar;
  
  .appbar {
    color: #fff;
    height: 42px;
    background-color: $sidebaritem;
    border-bottom: 2px solid $sidebarborder;
    @include transition(all 400ms ease-in-out);
    
    &:hover { background: $sidebaritemhover; }
    
    .appbar-details {
      &.admin {
        cursor: pointer;
      }
      
      h1 {
        font-size: 20px;
        margin: 0;
        padding: 10px 15px;
      }
    
      .down { float: right; margin: 13px; color: $dulltext; }
      &:hover {
        .down { color: #fff; }
      }
    }
    
    .appbar-settings {
      top: 35px;
      left: 180px;
    }
  }

  .channels {
    // padding: 20px 0 10px;
    position: absolute;
    top: 45px;
    bottom: 50px;
    width: 220px;
    overflow: hidden;
    
    .header {
      padding: 10px 10px 0;
      color: $dulltext;
      font-size: 14px;
      display: block;
      
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
    
    .new-channel {
      margin: 0 10px 10px;
      font-size: 13px;
      color: $dulltext;
      border-bottom: 1px dotted $dulltext;
      display: inline-block;
      
      &:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
    
    ul {
      list-style: none;
      margin: 5px 5px 0 -15px;
      padding: 0;
      
      li {
        border-radius: $radius;
        
        a {
          display: block;
          color: $dulltext;
          padding: 2px 5px 2px 25px;
          font-size: 14px;
          
          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
      
        &:hover {
          background: $hovertransparent;
        }
        
        &.active, &.active:hover {
          background: $sidebarlinkhover;
          
          a { 
            color: #fff;            
            .prefix { color: $sidebarlinkhoveractive; }
          }
        }
      }
    }
  }

  .userbar {    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    color: #fff;
    height: 50px;
    cursor: pointer;
    background-color: $sidebaritem;
    border-top: 2px solid $sidebarborder;
    @include transition(all 400ms ease-in-out);

    .up { float: right; margin: 13px; color: $dulltext; }

    &:hover {
      background: $sidebaritemhover;
      
      .up { color: #fff; }
    }

    .userbar-details {
      padding: 2px;

      .avatar {
        float: left;
        margin: 5px 10px;
        border-radius: $radius;
      }
    }

    .userbar-settings {      
      top: auto;
      left: 180px;
      bottom: 45px;
    }
  }

  .connectbit {
    .message { 
      font-size: 13px;
      color: #ddd;
    }
  }
}

.cssscrollbar #sidebar .channels:hover { overflow-y: scroll; }
