@import 'variables';
@import 'bourbon';

#password_confirmation, #challenge { display: none; }

.login {
  background: #e4e7ef;

  h1 {
    text-align: center;
  }

  .form {
    background: #fff;
    max-width: 428px;
    margin: 0 auto 30px;
    padding: 30px 40px;
    @include box-shadow(0 0 0 1px rgba(0, 0, 0, .05), 0 0 0 0 rgba(0, 0, 0, .1));

    h2, h3 {
      color: $mild;
      text-align: center;
      margin-bottom: 30px;
    }

    form {
      margin-bottom: 30px;
    }

    .form-group.password {
      position: relative;

      .forgot-link {
        position: absolute;
        right: 10px;
        top: 12px;
        color: $mildblue;
      }
    }

    .login-btn {
      width: 47.5%;
      margin-right: 5%;
      margin-bottom: 10px;
      float: left;
    }

    .form-link {
      width: 47.5%;
    }

    .signup-btn {
      width: 50%;
      margin-left: 25%;
    }

    .btn-auth {
      background: none;
      border: none;
      float: left;
      width: 33.33%;
      padding: 2px 6px 3px;

      i {
        padding: 20px;
        border-radius: 64px;
        color: #fff;
        font-size: 30px;
        width: 70px;
        text-align: center;
        margin: 0 15px;
        @include transform(scale(1));
        @include transition(all .2s ease 0);

        &:hover {
          @include transform(scale(1.05));
        }
      }

      &.btn-facebook i { background: #3b5998; }
      &.btn-twitter i { background: #4099ff; }
      &.btn-google i { background: #d34836; }
      &.btn-github i { background: #38b0db; }
    }

    .external-options:after {
      display: table;
      content: "";
    }
  }

  .form-footer {
    width: 100%;
    max-width: 428px;
    margin: -10px auto 10px;
    text-align: center;

    a { padding-left: 5px; }
  }
}

@media screen and (max-width: 428px) {
  .login {
    .form {
      padding: 30px 10px;
    }
  }
}
