$text: #2c3e50;
$dulltext: #ab9ba9;
$dulldark: #9e9ea6;
$title: #555459;

$green: #18bc9c;
$red: #e74c3c;
$gray: #f2f2f5;
$dullgreen : #4c9689;

$radius: 3px;
$hovertransparent: rgba(0, 0, 0, .15);

// $sidebar: #6b7397;
// $sidebarItem: #4b5279;
$sidebar: #4d394b;
$sidebaritem: #3e313c;
$sidebaritemhover: desaturate($sidebaritem, 5%);
$sidebarborder: darken($sidebaritem, 5%);
$sidebarlinkhover: $dullgreen;
$sidebarlinkhoveractive: #b2d5c9;