
$hoverTop: #4B9E8E;
$hoverBottom: #4C6C6D;

$sidebar: #4D394B;
$sidebarItemHover: #5E4C5C;
$sidebarItem: #3E313C;
$sidebarBorder: #342A33;
$sidebarLinkHover: #4C9689;
$sidebarText: #AB9BA9;

$lightLiquorice: #394357;
$liquorice: #31394a;
$mild: #546673;
$mildblue: #7f919e;
$dulltext: #a7b3b6;

$green: #18bc9c;
$red: #e74c3c;

$radius: 3px;
$sidebarHover: rgba(255, 255, 255, .1);