// $sidebar: #6b7397;
// $sidebarItem: #4b5279;
$sidebar: #4d394b;
$sidebaritem: #3e313c;
$sidebaritemhover: desaturate($sidebaritem, 5%);
$sidebarborder: darken($sidebaritem, 5%);
$sidebarlinkhover: #4c9689;
$sidebarlinkhoveractive: #b2d5c9;

$text: #222;
$dulltext: #ab9ba9;

$green: #18bc9c;
$red: #e74c3c;

$radius: 3px;
$hovertransparent: rgba(255, 255, 255, .1);